.hero {
  form {
    position: relative;
    display: flex;
    margin-top: 5rem;

    input {
      width: 100%;
      height: 6.5rem;
      background: #f4f4f4;
      border-radius: 1.6rem;
      padding: 2rem 2.4rem;
      font-family: inherit;
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.4rem;
      color: #2d2d2d;
      border: none;
      outline: none;
      cursor: pointer;

      &:focus {
        border: 1px solid #a445ed;
        caret-color: #a445ed;
      }

      @media screen and (max-width: 590px) {
        height: 4.8rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }

    .search-svg {
      position: absolute;
      top: 2.2rem;
      right: 2rem;
      cursor: pointer;

      @media screen and (max-width: 590px) {
        top: 1.6rem;
      }
    }
  }

  .outcome-box {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
    align-items: center;

    .txt-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      h1 {
        font-family: inherit;
        font-style: normal;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 7.7rem;
        color: #2d2d2d;

        @media screen and (max-width: 590px) {
          font-size: 3.2rem;
          line-height: 4.1rem;
        }
      }

      h2 {
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.9rem;
        color: #a445ed;
        margin-top: 0.8rem;

        @media screen and (max-width: 590px) {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }
    }

    img {
      cursor: pointer;

      @media screen and (max-width: 450px) {
        height: 4.8rem;
        width: 4.8rem;
      }
    }
  }
}
