nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-interaction-box {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .nav-interaction-box .font-box {
  display: flex;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
  border-right: 1px solid #e9e9e9;
  padding-right: 2.6rem;
}

nav .nav-interaction-box .font-box .font {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #2d2d2d;
}

nav .nav-interaction-box .font-box .mono {
  font-family: "Inconsolata", monospace;
}

nav .nav-interaction-box .font-box .serif {
  font-family: "Lora", serif;
}

nav .nav-interaction-box .font-box .sans-serif {
  font-family: "Inter", sans-serif;
}

nav .nav-interaction-box .font-box .font-choice-box {
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  position: absolute;
  width: 18rem;
  height: 15rem;
  top: 4rem;
  right: 0;
  display: none;
  transition: all 0.4 ease-in-out;
}

nav .nav-interaction-box .font-box img {
  margin-left: 1.8rem;
  object-fit: scale-down;
}

nav .display-manipulation-box {
  padding-left: 2.6rem;
  display: flex;
  gap: 2rem;
}

nav .display-manipulation-box .toggle-bar {
  /* Hide default HTML checkbox */
  /* The slider */
}

nav .display-manipulation-box .toggle-bar .switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

nav .display-manipulation-box .toggle-bar .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

nav .display-manipulation-box .toggle-bar .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3.4rem;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .display-manipulation-box .toggle-bar .slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0.4em;
  bottom: 0.3rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

nav .display-manipulation-box .toggle-bar input:checked + .slider {
  background-color: #757575;
}

nav .display-manipulation-box .toggle-bar input:focus + .slider {
  box-shadow: 0 0 1px #757575;
}

nav .display-manipulation-box .toggle-bar input:checked + .slider:before {
  transform: translateX(1.8rem);
}
