.verb .section-header {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.verb .section-header h2 {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #2d2d2d;
  width: 15%;
}

.verb .section-header .hdr-line {
  width: 85%;
  height: 49%;
  border-top: 1px solid #e9e9e9;
}

.verb .meaning-section ul {
  padding-left: 2.2rem;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

.verb .meaning-section ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #2d2d2d;
  padding-bottom: 1.3rem;
}

.verb h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #757575;
}

.verb h3 .synonims {
  color: #a445ed;
  font-weight: 700;
}
